@page

@using Microsoft.EntityFrameworkCore.Internal
@model YourDollarR2.Pages.BudgetCategories.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Budget Categories</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-append">
                <button class="btn btn-light">
                    <i class="oi oi-magnifying-glass"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<a asp-page=".\Edit" class="btn btn-light">
    <i class="oi oi-plus"></i> New Category
</a>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="col-sm-4">
                            <partial name="_Summary" model="category"/>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




