@page
@model YourDollarR2.Pages.Expenses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Expense.ShortName" class="control-label"></label>
                <input asp-for="Expense.ShortName" class="form-control" />
                <span asp-validation-for="Expense.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.Description" class="control-label"></label>
                <input asp-for="Expense.Description" class="form-control" />
                <span asp-validation-for="Expense.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.PayoutAmount" class="control-label"></label>
                <input asp-for="Expense.PayoutAmount" class="form-control" />
                <span asp-validation-for="Expense.PayoutAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.CompanyName" class="control-label"></label>
                <input asp-for="Expense.CompanyName" class="form-control" />
                <span asp-validation-for="Expense.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.PayoutAccountNumber" class="control-label"></label>
                <input asp-for="Expense.PayoutAccountNumber" class="form-control" />
                <span asp-validation-for="Expense.PayoutAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
