@page
@model YourDollarR2.Pages.Expenses.DeleteModel
@{
    ViewData["Title"] = "Delete Expense";
}

<h2>Remove Expense!</h2>
<div class="alert alert-danger">
    Are you sure that you want to remove the category @Model.Expense.ShortName?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="List" class="btn btn-default">Cancel</a>
</form>
