@page
@model YourDollarR2.Pages.Budgets.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>List Budgets</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-append">
                <button class="btn btn-light">
                    <i class="oi oi-magnifying-glass"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<a asp-page=".\Edit" class="btn btn-light">
    <i class="oi oi-plus"></i> New Budget
</a>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

@foreach (var budget in Model.Budgets)
{
    <partial name="_Summary" model="budget" />
}

