@page
@model YourDollarR2.Pages.ExpensesR2.IndexModel

@{
    ViewData["Title"] = "Expenses";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h1 class="text-uppercase">Your Expenses</h1>
        </div>
        <div class="col-6">
            <form method="get">
                <div class="form-group p-2 m-0 d-flex flex-column justify-content-end" style="width: 100%; height: 100%">
                    <div class="input-group">
                        <input type="search" class="form-control" asp-for="SearchTerm" />
                        <span class="input-group-append">
                            <button class="btn btn-light">
                                <i class="oi oi-magnifying-glass"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            @if (Model.Message != null)
            {
                <p class="alert alert-info">@Model.Message</p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <a asp-page="Create" class="badge badge-primary" data-toggle="modal" data-target="#createModal">
                <i class="oi oi-plus"></i> Create Expense
            </a>
        </div>
    </div>
    <div class="row">
        <div class="card-deck-wrapper mt-3">
            <div class="card-deck">
                @foreach (var expense in Model.Expenses)
                {
                    <div class="col-4">
                        <partial name="_Summary" model="expense" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Modals{
    <div id="modalSection">
        <partial name="_CreatePartial" model="Model.Expense" />
    </div>
}